.styles_C6Q6h {
    padding: 130px 20px 130px !important;
    align-items: center;
    background-image: url(https://vip.helloimg.com/images/2023/10/08/obaJRg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #e8eaf2;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.styles_svCqL {
  width: 100%;
  max-width: 480px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.5rem 2rem;
  background-color: white;
  padding: 30px 45px;
  border-radius: 4px;
}